<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="MainPattern">%d{yyyy-MM-dd HH:mm:ss}{Europe/Moscow} %-5p %c{1}:%L - %m%n%ex{full}</Property>
        <Property name="ColorPattern">%d{yyyy-MM-dd HH:mm:ss}{Europe/Moscow} %highlight{%-5p} %c{1}:%L - %m%n%ex{full}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="TraceAppender" fileName="logs/trace.log"
                     filePattern="logs/trace/%d{yyyy-MM-dd} v%i.log.gz">
            <PatternLayout pattern="${MainPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7" modulate="true"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="debug" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </RollingFile>

        <File name="DebugAppender" fileName="logs/debug.log" append="true">
            <PatternLayout pattern="${MainPattern}"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </File>

        <File name="WarnAppender" fileName="logs/warn.log" append="true">
            <PatternLayout pattern="${MainPattern}"/>
        </File>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="${ColorPattern}"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
        </Root>
        <Logger name="com.prohor.personal.bobaFettBot" level="trace" additivity="false">
            <AppenderRef ref="TraceAppender" level="trace"/>
            <AppenderRef ref="DebugAppender" level="debug"/>
            <AppenderRef ref="WarnAppender" level="warn"/>
            <AppenderRef ref="ConsoleAppender" level="info"/>
        </Logger>
    </Loggers>
</Configuration>
